<% extend('base') %>

<form id="usrform" action="./delete" method="post">
    <label for="team_name">Do you want to delete <%= post.title %>: </label><br/>
    <input type="submit" value="Yes">
</form>
